server/src/main/resources/format.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="database">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dealList">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="deals">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="deal" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="time"/>
                                                    <xs:element type="xs:string" name="state"/>
                                                    <xs:element name="user">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="password"/>
                                                                <xs:element type="xs:string" name="token"/>
                                                                <xs:element type="xs:string" name="username"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="slave" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:float" name="height"/>
                                                                <xs:element type="xs:float" name="weight"/>
                                                                <xs:element type="xs:int" name="age"/>
                                                                <xs:element type="xs:string" name="gender"/>
                                                                <xs:element type="xs:string" name="name"/>
                                                                <xs:element type="xs:int" name="id"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="alien" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="planet"/>
                                                                <xs:element type="xs:float" name="weight"/>
                                                                <xs:element type="xs:float" name="height"/>
                                                                <xs:element type="xs:string" name="color"/>
                                                                <xs:element type="xs:string" name="name"/>
                                                                <xs:element type="xs:int" name="age"/>
                                                                <xs:element type="xs:string" name="race"/>
                                                                <xs:element type="xs:int" name="id"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="food" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="composition"/>
                                                                <xs:element type="xs:float" name="energy"/>
                                                                <xs:element type="xs:float" name="weight"/>
                                                                <xs:element type="xs:int" name="id"/>
                                                                <xs:element type="xs:string" name="name"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="poison" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="onset"/>
                                                                <xs:element type="xs:int" name="id"/>
                                                                <xs:element type="xs:string" name="frequency"/>
                                                                <xs:element type="xs:string" name="effect"/>
                                                                <xs:element type="xs:float" name="chance"/>
                                                                <xs:element type="xs:float" name="weight"/>
                                                                <xs:element type="xs:string" name="type"/>
                                                                <xs:element type="xs:string" name="name"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element type="xs:int" name="price"/>
                                                    <xs:element type="xs:int" name="id"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="users">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="user" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="password"/>
                                        <xs:element type="xs:string" name="token"/>
                                        <xs:element type="xs:string" name="username"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>